<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--<add key="ApplicationBaseUrl" value="http://www.way2automation.com/"/>-->
    <add key ="ApplicationBaseUrl" value="http://www.way2automation.com/"/>
    <add key ="BrowserName" value="Chrome"/>
    <add key="VendorDirectory" value="\Vendor"/>
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="Mstest" />
  </specFlow>
</configuration>