<?xml version="1.0" encoding="utf-8"?>  
<RunSettings>  
  <!-- Parameters used by tests at runtime -->  
  <TestRunParameters>
    <Parameter name="ApplicationBaseUrl" value="http://www.way2automation.com/"/>
    <Parameter name ="BrowserName" value="Chrome"/>
    <Parameter name="VendorDirectory" value="\Vendor"/>
  </TestRunParameters>  
</RunSettings> 